.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  color: #1e90ff;
  background-color: rgba(0,0,0,0.7);
}
.header i {
  margin-right: 20px;
  color: #ffffff;
  font-size: 4rem;
}
.header p {
  font-size: 2rem;
}