.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  color: #1e90ff;
  background-color: rgba(0,0,0,0.7);
}
.div-header-user {
  display: flex;
  align-items: center;
}
.div-header-user i {
  margin-right: 20px;
  color: #ffffff;
  font-size: 4rem;
}
.div-header-user p {
  font-size: 2rem;
}
.header button {
  padding: 8px 20px;
  font-size: 2.1rem;
  color: #ffffff;
  background-color: #1e90ff;
  border: none;
  outline: none;
}
.header button:hover {
  background-color: #1972c7;
  cursor: pointer;
}