/*======================== reset ========================*/
html, body, div, span, applet, object, iframe, blockquote,
pre, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3.2rem;
  vertical-align: baseline;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.4rem;
  vertical-align: baseline;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.872rem;
  vertical-align: baseline;
}
h4, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}
a:link, a:link:active, a:visited, a:visited:active {
  color: (internal value);
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.328rem;
  vertical-align: baseline;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.072rem;
  vertical-align: baseline;
}
/*----- HTML5 display-role reset for older browsers -----*/
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
#root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  height: 100%;
  font-size: 62.5%; /* makes 1.2rem === 12px, 1.6rem === 16px, ect... */
  min-height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  width: 100%;
}
/*======================= globals =======================*/
.mt-200 {
  margin-top: 200px;
}
.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
}
.view {
  display: block;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 80px;
}
.view-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  margin: 40px auto 0;
  padding: 0 12px;
}
.h1-login-msg {
  text-align: center;
}
.modal-background-show, .modal-background-hide {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-background-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-background-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*==================== Login Spinner ====================*/
.h1-login-spinner-msg {
  margin-bottom: 40px;
  color: #1e90ff;
  text-align: center;
}
.div-login-spinner,
.div-login-spinner::before,
.div-login-spinner::after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loginSpinnerFrames 1.8s infinite ease-in-out;
  animation: loginSpinnerFrames 1.8s infinite ease-in-out;
}
.div-login-spinner {
  color: #1e90ff;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.div-login-spinner::before,
.div-login-spinner::after {
  content: '';
  position: absolute;
  top: 0;
}
.div-login-spinner::before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.div-login-spinner::after {
  left: 3.5em;
}
@-webkit-keyframes loginSpinnerFrames {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes loginSpinnerFrames {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*===================== Login Modal =====================*/
.modal-login-opened, .modal-login-closed {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  padding: 0 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 400ms ease-in;
  -moz-transition: margin 400ms ease-in;
  transition: margin 400ms ease-in;
}
.modal-login-opened {
  margin: 50px auto 0;
}
.modal-login-closed {
  margin: 0 auto;
}
.modal-login-top {
  margin: 40px 0 20px;
}
.modal-login-top h2 {
  font-size: 2.6rem;
  text-align: center;
}
.modal-login-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 8px 20px;
}
.modal-login-mid input {
  width: 100%;
  padding: 8px 15px;
  font-size: 1.8rem;
  outline: none;
}
.modal-login-mid input:first-child {
  margin-bottom: 20px;
}
.modal-login-bot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 8px 20px;
}
.modal-login-bot button {
  padding: 15px 40px;
  border: none;
  color: #ffffff;
  font-size: 2rem;
}
.modal-login-bot .cancel {
  background-color: #6b6b6b;
}
.modal-login-bot .cancel:hover {
  background-color: #565656;
  cursor: pointer;
}
.modal-login-bot .login {
  background-color: #1e90ff;
}
.modal-login-bot .login:hover {
  background-color: #1972c7;
  cursor: pointer;
}
/*===================== Delete Modal ====================*/
.modal-delete-opened, .modal-delete-closed {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 400ms ease-in;
  -moz-transition: margin 400ms ease-in;
  transition: margin 400ms ease-in;
}
.modal-delete-opened {
  margin: 50px auto 0;
}
.modal-delete-closed {
  margin: 0 auto;
}
.modal-delete-top {
  margin: 40px 0 20px;
}
.modal-delete-top h2 {
  font-size: 2.6rem;
  text-align: center;
}
.modal-delete-mid {
  padding: 8px 20px;
}
.modal-delete-mid p {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 5px 40px 5px 10px;
  border: 2px solid #000000;
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 #ffffff;
  overflow-y: auto;
}
.modal-delete-mid p::-webkit-scrollbar {
  width: 11px;
}
.modal-delete-mid p::-webkit-scrollbar-track {
  background: #ffffff;
}
.modal-delete-mid p::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
.modal-delete-bot {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 8px 20px;
}
.modal-delete-bot button {
  padding: 15px 40px;
  border: none;
  color: #ffffff;
  font-size: 2rem;
}
.modal-delete-bot .cancel {
  margin-right: 80px;
  background-color: #6b6b6b;
}
.modal-delete-bot .cancel:hover {
  background-color: #565656;
  cursor: pointer;
}
.modal-delete-bot .delete {
  background-color: #dc3545;
}
.modal-delete-bot .delete:hover {
  background-color: #bd2b39;
  cursor: pointer;
}

/*===================== HOME =====================*/
.form-home-add-todo {
  display: flex;
  margin: 0 auto 40px;
  width: 100%;
  max-width: 800px;
  border: 2px solid black;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.form-home-add-todo textarea {
  width: 100%;
  padding: 5px 20px 5px 10px;
  border: none;
  border-right: 2px solid black;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 #ffffff;
  outline: none;
}
.form-home-add-todo button {
  width: 160px;
  padding: 8px 10px;
  font-size: 2.4rem;
  border: none;
  outline: none;
}
.form-home-add-todo .add {
  background-color: #ffe505;
}
.form-home-add-todo .add:hover {
  background-color: #ffc905;
  cursor: pointer;
}
.form-home-add-todo .disabled {
  color: #020202;
  background-color: #020202;
}
.form-home-add-todo textarea::-webkit-scrollbar {
  width: 11px;
}
.form-home-add-todo textarea::-webkit-scrollbar-track {
  background: #ffffff;
}
.form-home-add-todo textarea::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
.home-todo {
  display: flex;
  margin-bottom: 20px;
  border: 2px solid black;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.home-todo .div-details {
  width: 100%;
  max-height: 100px;
  border-right: 2px solid black;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 #ffffff;
}
.home-todo .div-details::-webkit-scrollbar {
  width: 11px;
}
.home-todo .div-details::-webkit-scrollbar-track {
  background: #ffffff;
}
.home-todo .div-details::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 6px;
  border: 3px solid #ffffff;
}
.home-todo .p-details {
  padding: 5px 40px 5px 10px;
}
.home-todo .textarea-details {
  width: 100%;
  padding: 5px 40px 5px 10px;
  border: none;
  resize: none;
  outline: none;
}
.home-todo .actions {
  min-width: 116px;
}
.home-todo .actions button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
}
.home-todo .disabled {
  color: #020202;
  font-weight: 700;
  background-color: #020202;
}
.home-todo .edit {
  color: #ffffff;
  background-color: #1e90ff;
}
.home-todo .edit:hover {
  background-color: #1972c7;
  cursor: pointer;
}
.home-todo .delete {
  color: #ffffff;
  background-color: #dc3545;
}
.home-todo .delete:hover {
  background-color: #bd2b39;
  cursor: pointer;
}
.home-todo .cancel {
  color: #020202;
  font-weight: 700;
  background-color: #f9f9f9;
}
.home-todo .cancel:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.home-todo .save {
  color: #020202;
  font-weight: 700;
  background-color: #9afe2e;
}
.home-todo .save:hover {
  background-color: #7fd226;
  cursor: pointer;
}