/*======================== reset ========================*/
html, body, div, span, applet, object, iframe, blockquote,
pre, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3.2rem;
  vertical-align: baseline;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.4rem;
  vertical-align: baseline;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.872rem;
  vertical-align: baseline;
}
h4, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.6rem;
  vertical-align: baseline;
}
a:link, a:link:active, a:visited, a:visited:active {
  color: (internal value);
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.328rem;
  vertical-align: baseline;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.072rem;
  vertical-align: baseline;
}
/*----- HTML5 display-role reset for older browsers -----*/
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
#root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  height: 100%;
  font-size: 62.5%; /* makes 1.2rem === 12px, 1.6rem === 16px, ect... */
  min-height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  width: 100%;
}
/*======================= globals =======================*/
.mt-200 {
  margin-top: 200px;
}
.app {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: purple;
}
.view {
  display: block;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  background-color: red;
}
.view-container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 12px;
  background-color: yellow;
}
.modal-background-show, .modal-background-hide {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.modal-background-show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-background-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*==================== Login Spinner ====================*/
.h1-login-spinner-msg {
  margin-bottom: 40px;
  color: blue;
  text-align: center;
}
.div-login-spinner,
.div-login-spinner::before,
.div-login-spinner::after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loginSpinnerFrames 1.8s infinite ease-in-out;
  animation: loginSpinnerFrames 1.8s infinite ease-in-out;
}
.div-login-spinner {
  color: blue;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.div-login-spinner::before,
.div-login-spinner::after {
  content: '';
  position: absolute;
  top: 0;
}
.div-login-spinner::before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.div-login-spinner::after {
  left: 3.5em;
}
@-webkit-keyframes loginSpinnerFrames {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes loginSpinnerFrames {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/*===================== Login Modal =====================*/
.modal-login-opened, .modal-login-closed {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 400ms ease-in;
  -moz-transition: margin 400ms ease-in;
  transition: margin 400ms ease-in;
}
.modal-login-opened {
  margin: 50px auto 0;
}
.modal-login-closed {
  margin: 0 auto;
}